@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800;900&display=swap");

body {
   font-family: "Mulish", sans-serif;
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
   color: #272727;
}
p {
   font-weight: 300;
   font-size: 16px;
   line-height: 1.6;
}
img {
   width: 100%;
}
.h1 {
   font-weight: 800;
   font-size: 39px;
}
.h2 {
   color: #272727;
   font-weight: 800;
   margin-bottom: 0;
   font-size: 30px;
}
.section-bg {
   background: rgba(229, 84, 115, 0.1);
}
.section-header {
   text-align: center;
   width: 50%;
   margin: auto;
   padding-bottom: 3rem;
}
.container {
   width: 80%;
   margin: auto;
}
.hero-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.hero-left {
   width: 60%;
}
.hero-right img {
   width: 70%;
   display: block;
   margin: 0 0 0 auto;
}
.btn {
   border-radius: 8px;
   background: #e55473;
   padding: 16px 30px;
   color: #fff;
   font-size: 16px;
   margin-top: 1rem;
   display: inline-block;
}
.featured-flowers {
   padding: 3rem 0;
}
.featured-wrapper {
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
}
.featured-item img {
   width: 75%;
}
.featured-item p {
   text-decoration: underline;
}
.featured-item {
   text-align: center;
   width: 30%;
}
.featured-image-wrapper {
   border-radius: 300px 300px 0px 0px;
   background: rgba(167, 33, 98, 0.15);
   padding-top: 7rem;
   display: flex;
   min-height: 19rem;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}
#featured-img-item2 {
   justify-content: center;
   background-color: rgba(5, 151, 160, 0.15);
}
#featured-img-item3 {
   background-color: rgba(71, 125, 17, 0.15);
}
.service-wrapper {
   display: flex;
   background: rgba(39, 39, 39, 0.05);
   align-items: center;
   justify-content: space-around;
   border-radius: 8px;
   padding: 4rem 0;
   margin: 3rem auto;
}
.service-wrapper div {
   text-align: center;
}
.service-wrapper div img {
   width: 22%;
}
.service-wrapper p {
   margin: 0;
}
.hot-deal-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 3rem 0;
   margin: 5rem auto;
}
.hot-deal-left {
   text-align: center;
   width: 45%;
}
.hot-deal-right img {
   width: 80%;
}
#hot-deal-highlight {
   color: #e55473;
}
.instagram-image-wrapper {
   display: flex;
   align-items: center;
   padding-bottom: 3rem;
   justify-content: space-between;
}
.instagram-image-wrapper div {
   margin: 0 0.5rem;
}
.newsletter-wrapper {
   background-image: url("./images/newsletter-bg.png");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 5rem 0;
   margin: 3rem auto;
}
.newsletter-header {
   text-align: center;
}
.news-form {
   text-align: center;
   width: 70%;
   display: flex;
   align-items: center;
   margin: auto;
   justify-content: center;
}
.news-email-field {
   padding: 16px 10px;
   font-size: 16px;
   border: none;
   width: 60%;
   border-top-left-radius: 7px;
   border-bottom-left-radius: 7px;
}
.news-form input[type="button"] {
   background: #e55473;
   padding: 16px 30px;
   color: #fff;
   font-size: 16px;
   display: inline-block;
   border: none;
   border-top-right-radius: 7px;
   border-bottom-right-radius: 7px;
}
footer {
   background-color: #171758;
   color: #fff;
}
.footer-wrapper {
   width: 40%;
   text-align: center;
   padding: 3rem 0;
}
.f-highlight-text {
   color: #e55473;
}
.copyright {
   background-color: #000;
   display: flex;
   justify-content: space-between;
   padding: 0 2rem;
   align-items: center;
}
.social-icon-group a {
   font-size: 28px;
   margin: 0 3px;
   color: #fff;
}

.category-main-wrapper {
   display: flex;
   padding-top: 4rem;
}
.category-right-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.category-right-top-wrapper {
   display: flex;
   margin-bottom: 10px;
}
.category-right-bottom-wrapper {
   display: flex;
   margin-top: 10px;
}
.category-right-top-wrapper div {
   margin: 0 10px;
}
.category-right-bottom-wrapper div {
   margin: 0 10px;
}
.category-div {
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 300px;
   height: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.category-one {
   background-image: url(./images/category-1.webp);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: 0.3s;
}
.category-one:hover {
   box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.1);
}
.category-two {
   background-image: url(./images/category-2.webp);
}
.category-three {
   background-image: url(./images/category-3.webp);
}
.category-four {
   background-image: url(./images/category-4.webp);
}
.category-five {
   background-image: url(./images/category-5.webp);
}
.category-title {
   margin: 0;
   font-weight: 600;
   font-size: 16px;
}
.category-item-number {
   margin: 0;
   font-size: 14px;
   font-weight: 400;
   letter-spacing: 2px;
   color: #e55473;
}
.category-content {
   background: #fff;
   padding: 5px 16px;
   text-align: center;
   transition: 0.2s;
}
.category-div {
   transition: 0.3s;
}
.category-div:hover {
   box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.1);
}
.category-div:hover .category-content {
   background-color: #e55473;
   color: #fff;
}
.category-one:hover .category-content {
   background-color: #e55473;
   color: #fff;
}
.category-div:hover .category-item-number {
   color: #fff;
}
.category-one:hover .category-item-number {
   color: #fff;
}
